---
layout: content
title: Meetings
description: "Here is the archive of all our past club meetings. PDFs of the slides and YouTube recordings of the meetings are included when available."
permalink: /meetings/
---
<h1>Meetings</h1>
<p>Here is the archive of all our past club meetings. PDFs of the slides and YouTube recordings of the meetings are included when available. Check out our YouTube channel for recordings of recent meetings. We hold meetings on Wednesdays at 6PM in Clifton Court Hall 2110, so why not join us for the next one?</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col" class="d-none d-sm-none d-md-table-cell">Links</th>
    </tr>
  </thead>
  <tbody>
    
    {%- assign meetings_sorted = site.meetings | sort: 'meeting_number' | reverse -%}
    {% for meeting in meetings_sorted %}
      {% if meeting.relative_path != "_meetings/index.html" %}
        <tr class="meeting-row">
          <th scope="row">{{ meeting.meeting_number | default: "–" }}</th>
          <td><a href="{{ site.url }}{{ meeting.url }}">{{ meeting.title }}</a></td>
          <td>
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            {{ meeting.date | date: date_format }}
          </td>
          <td class="meetings-links d-none d-sm-none d-md-table-cell">
            {%- if meeting.meeting_number and meeting.meeting_slides != false -%}
              <a href="{{ site.url }}/files/slides/meeting_{{ meeting.meeting_number | prepend: '000' | slice: -3, 3 }}.pdf" title="View the meeting slides"><i class="fa-fw fa-lg fas fa-file-pdf"></i></a>
            {%- else -%}
              <i class="fa-fw fa-lg"></i>
            {%- endif -%}
            &nbsp;
            {%- if meeting.youtube -%}
              <a href="{{ meeting.youtube }}" title="Watch on YouTube"><i class="fa-fw fa-lg fab fa-youtube"></i></a>
            {%- else -%}
              <i class="fa-fw fa-lg"></i>
            {%- endif -%}
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
