---
layout: page
title: Calendar
permalink: /calendar
description: "See what's on the horizon for the club in our Google Calendar."
---
<p>
  <a href="https://calendar.google.com/calendar/embed?src=qgnme3ojn5jq1cr9j4oks07s9c%40group.calendar.google.com&ctz=America%2FNew_York" class="btn btn-secondary btn-sm" target="_blank">Open in new tab</a>
  <a href="https://calendar.google.com/calendar/b/1?cid=cWdubWUzb2puNWpxMWNyOWo0b2tzMDdzOWNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" class="btn btn-secondary btn-sm" target="_blank">Add to your Google Calendar</a>
</p>
<div style="position: relative; padding-bottom: 75%; height: 0; overflow: hidden;">
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;src=qgnme3ojn5jq1cr9j4oks07s9c%40group.calendar.google.com&amp;ctz=America%2FNew_York" style="border: 0; position: absolute; top:0; left: 0; width: 100%; height: 100%;" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
