---
layout: default
---
<div class="jumbotron jumbotron-fluid home-jumbotron-main text-light bg-dark">
  <div class="container">
    {% asset logo-horz-primary-bgblack.svg !integrity
      alt="Cyber@UC Chapter logo" class="mw-100 pb-3" style="height:240px"
      %}
    <p class="big-lead">We are a student-run cybersecurity organization at the University of Cincinnati.</p>
  </div>
</div>
<div class="container home-container">
  <div class="row home-whatwedo">
    <div class="col-12">
      <h1 class="display-4">What We Do</h1>
    </div>

    <div class="item-box">
      <i class="fas fa-graduation-cap"></i>
      <h2>Education</h2>
      <p>We strive to learn new cyber&shy;sec&shy;ur&shy;ity tech&shy;niques and keep up-to-date on the latest news.</p>
    </div>

    <div class="item-box">
      <i class="fas fa-bullhorn"></i>
      <h2>Outreach</h2>
      <p>We reach out to local high schools to get young students inter&shy;es&shy;ted in cyber&shy;sec&shy;ur&shy;ity and aware of the risks they face every&nbsp;day.</p>
    </div>

    <div class="item-box">
      <i class="fas fa-flask"></i>
      <h2>Research</h2>
      <p>We run CTF events, operate and maintain our own Proxmox lab, experiment with malware and more.</p>
    </div>

    <div class="item-box">
      <i class="fas fa-smile"></i>
      <h2>Networking</h2>
      <p>We help students meet other passionate students and local companies looking for cybersecurity talent.</p>
    </div>
  </div>

  <div class="row home-joinus align-items-center">
    <div class="col-md-6 col-lg-5">
      <a href="{% asset Rapid7Event.jpg @path %}" target="_blank">
        {% asset Rapid7Event.jpg !integrity
          srcset:width=1335 srcset:width=890 srcset:width=445 srcset:width=330
          alt="Meeting with Rapid7 in Spring 2023" class="img-fluid img-thumbnail"
          %}
      </a>
    </div>
    <div class="col-md-6 col-lg-7 text-center">
      <h1 class="display-4">Join Us!</h1>
      <p class="big-lead">Join our weekly General Body Meetings every Wednesday at 6PM in Clifton Court Hall Room 2110. All committee specific meetings are posted in our Discord!</p>
      <!-- Link to Last Meeting<p>
        <a class="btn btn-primary" href="{{ site.url }}{{ site.meetings.last.previous.url }}">See a previous meeting</a>
	       
      </p> -->
    </div>
  </div>

  <div class="row home-getconnected align-items-center text-center">
    <div class="col-lg-8">
      <h1 class="display-4">Get Connected</h1>
      <p class="big-lead">Discord is the main way we com&shy;mun&shy;i&shy;cate, so sign up if you are inter&shy;es&shy;ted in the club. Check out our <a href="https://campuslink.uc.edu/organization/cyber-at-uc">CampusLink</a> for more club information! We have other content on our various social media&nbsp;accounts.</p>
      <p>
        <a class="btn btn-secondary" href="https://www.youtube.com/channel/{{ site.youtube_channel_id }}" title="YouTube">
          <i class="fab fa-youtube"></i>
        </a>
        <!-- <a class="btn btn-secondary" href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a> -->
        <!-- <a class="btn btn-secondary" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
          <i class="fab fa-facebook"></i>
        </a> -->
        <a class="btn btn-secondary" href="https://www.instagram.com/{{ site.instagram_username }}" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn btn-secondary" href="https://gitlab.com/{{ site.gitlab_username }}" title="GitLab">
          <i class="fab fa-gitlab"></i>
        </a>
        <!--<a class="btn btn-secondary" href="https://campuslink.uc.edu/organization/cyber-at-uc" title="CampusLink">
          <i class="fab-solid fa-people-group"></i>
        </a>-->
      </p>
    </div>
    <div class="col-lg-4">
      <iframe src="https://discord.com/widget?id=940817160773722136&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div> 
  </div>

  <div class="row home-latestnews align-items-center text-center">
    <div class="col-md-6 col-lg-5">
      <a href="{% asset lab_entrance05172023.jpg @path %}" target="_blank">
        {% asset lab_entrance05172023.jpg !integrity
          srcset:width=1335 srcset:width=890 srcset:width=445 srcset:width=330
          alt="Our lab space in ERC 516" class="img-fluid img-thumbnail"
          %}
      </a>
    </div>
    <div class="col-md-6 col-lg-7">
      <h1 class="display-4">Latest News</h1>
      <p class="big-lead">The best place to stay on top of things is through our GetInvolvedUC and Discord. Here, we post regular updates on meetings, events, and network outreach.</p>
      <!--<p>
        <a class="btn btn-primary" href="{{ site.url }}/calendar">
          <i class="far fa-calendar"></i> Calendar
        </a>
      </p>-->
    </div>
  </div>

</div>
