// CYBER@UC PRIMARY STYLESHEET

// overrides for Bootstrap variables
$primary: #e00122;

@import "bootstrap-custom";
@import "font-awesome-sprockets";
@import "font-awesome";

.main-content {
  margin-top: 1em;
}

// social links in footer
.social-media-list {
  padding: 0;
  li {
    list-style-type: none;
    display: inline;
    padding: 0 0.2em;
    a {
      @extend .text-secondary;
      text-decoration: none;
      i {
        @extend .fa-lg;
      }
      span {
        @extend .sr-only;
      }
    }
  }
}

// homepage stuff
.home-jumbotron-main {
  background: asset_url("1534739047_b31db3ed35_o.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 12%;
  padding-bottom: 12%;
  @extend .text-light;
  p.lead {
    font-size: 1.5rem;
  }
}
.home-container > .row {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.home-whatwedo {
  text-align: center;
  h1 {
    margin-bottom: 2rem;
  }
  .item-box {
    @extend .col-6;
    @extend .col-lg-3;
    i {
      @extend .fa-7x;
      @extend .text-primary;
    }
    h2 {
      @extend .h1;
      @extend .text-primary;
    }
  }
}
.home-joinus p.lead {
  font-size: 1.5rem;
}

// meetings index
.meetings-links a:active,
.meetings-links a:hover
{
  text-decoration: none;
}

// individual meeting pages
.meetings-nav a {
  @extend .text-secondary;
}
