// CYBER@UC PRIMARY STYLESHEET

// overrides for Bootstrap variables
$primary: #e00122;

@import "bootstrap-custom";
@import "font-awesome-sprockets";
@import "font-awesome";

.main-content {
  margin-top: 1em;
}

.big-lead {
  @extend .lead;
  font-size: 1.5rem;
}

// meta section on blog posts
.post-meta {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}
.author-avatar {
  height: 32px;
  width: 32px;
  margin-right: 0.3rem;
  border-radius: 16px;
}
.author-noavatar {
  display: inline-block;
  text-align: center;
  color: $primary;
  border: 2px solid $primary;
}

// style rules for the actual content of a normal page
.post-content {
  blockquote {
    margin-left: 0.5em;
    padding: 0.5em 1em 0.25em;
    border-left: 5px solid $gray-300;
  }
}

// social links in footer
.social-media-list {
  padding: 0;
  li {
    list-style-type: none;
    display: inline;
    padding: 0 0.2em;
    a {
      @extend .text-secondary;
      text-decoration: none;
      i {
        @extend .fa-lg;
      }
      span {
        @extend .sr-only;
      }
    }
  }
}

// homepage stuff
.home-jumbotron-main {
  background: asset_url("flickr-fusion_of_horizons-1534739047.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 12%;
  padding-bottom: 12%;
  color: $light;
  h1 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    line-height: $display-line-height;
    @include media-breakpoint-up(sm) {
      font-size: $display2-size;
      font-weight: $display2-weight;
    }
  }
}
.home-container > .row {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.home-whatwedo {
  text-align: center;
  h1 {
    margin-bottom: 2rem;
  }
  .item-box {
    @extend .col-6;
    @extend .col-lg-3;
    i {
      @extend .fa-7x;
      color: $primary;
    }
    h2 {
      color: $primary;
      @include media-breakpoint-up(sm) {
        font-size: $h1-font-size;
      }
    }
  }
}
.home-getconnected {
  .btn {
    margin-bottom: 0.5rem;
  }
}

// meetings index
.meetings-links a:active,
.meetings-links a:hover
{
  text-decoration: none;
}

// individual meeting pages
.meetings-nav a {
  @extend .text-secondary;
}

//
.card-columns.about-members-cards {
  @include media-breakpoint-only(sm) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 4;
  }
  @include media-breakpoint-up(lg) {
    column-count: 5;
  }
}
