// CYBER@UC PRIMARY STYLESHEET

// N.B. bootstrap-custom.scss contains our variable overrides, and is also where
// unused Bootstrap features are enabled/disabled, so please give it a look.
@import "bootstrap-custom";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "syntax-highlighting";

.main-content {
  margin-top: 1em;
}

.big-lead {
  @extend .lead;
  font-size: 1.5rem;
}

// meta section on blog posts
.post-meta {
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
}
.author-avatar {
  border-radius: 50%;
}
.author-noavatar {
  display: inline-block;
  text-align: center;
  color: $primary;
  border: 2px solid $primary;
}

// style rules for the content of a normal page
.post-content {
  blockquote {
    margin-left: 0.5em;
    padding: 0.5em 1em 0.25em;
    border-left: 5px solid $gray-300;
  }
  // code blocks
  div.highlighter-rouge {
    @extend .card;
    margin-bottom: $spacer;

    div.highlight {
      @extend .p-2;
      @extend .card-body;
    }
    pre.highlight {
      margin-bottom: 0;
    }
  }
  // ensure floated images don't span many sections
  h1, h2, h3 {
    clear: both;
  }
}

// images embedded by including image.html
.post-img {
  height: auto;
  display: block;
  &.post-img-focus, &.post-img-focus-small {
    margin-left: auto;
    margin-right: auto;
  }
  &.post-img-focus {
    max-width: 768px;
    width: 100%;
  }
  &.post-img-focus-small {
    max-width: 500px;
    width: 65%;
  }
  &.post-img-left, &.post-img-right {
    width: 40%;
    margin-left: $spacer;
    margin-right: $spacer;
  }
  &.post-img-left {
    float: left;
  }
  &.post-img-right {
    float: right;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    color: $text-muted;
  }
}

// social links in footer
.social-media-list {
  padding: 0;
  li {
    list-style-type: none;
    display: inline;
    padding: 0 0.2em;
    a {
      @extend .text-secondary;
      text-decoration: none;
      i {
        @extend .fa-lg;
      }
      span {
        @extend .sr-only;
      }
    }
  }
}

// homepage stuff
.home-jumbotron-main {
  background: asset_url("flickr-fusion_of_horizons-1534739047-dark.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 12%;
  padding-bottom: 12%;
  color: $light;
  h1 {
    font-size: $display4-size;
    font-weight: $display4-weight;
    line-height: $display-line-height;
    @include media-breakpoint-up(sm) {
      font-size: $display2-size;
      font-weight: $display2-weight;
    }
  }
}
.home-container > .row {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.home-whatwedo {
  text-align: center;
  h1 {
    margin-bottom: 2rem;
  }
  .item-box {
    @extend .col-6;
    @extend .col-lg-3;
    i {
      @extend .fa-7x;
      color: $primary;
    }
    h2 {
      color: $primary;
      @include media-breakpoint-up(sm) {
        font-size: $h1-font-size;
      }
    }
  }
}
.home-getconnected {
  .btn {
    margin-bottom: 0.5rem;
  }
}

// meetings index
.meetings-links a:active,
.meetings-links a:hover {
  text-decoration: none;
}

// individual meeting pages
.meetings-nav a {
  @extend .text-secondary;
}

//Table styling for sponsors
.sponsor_table{
  height: 50px;
}