---
layout: content
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- if page.author -%}
        {%- include author-inline.html author=page.author img_size=32 %} •&nbsp;
      {%- endif -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% if page.main_image and page.main_image.hidden != true -%}
      {%- include image.html src=page.main_image.src
        alt=page.main_image.alt caption=page.main_image.caption
        itemprop="image"
        -%}
    {%- endif %}
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" itemprop="url" href="{{ page.url | relative_url }}" hidden></a>
</article>
